<!doctype html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Angular-slider by prajwalkman</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="angular-slider/angular-slider.css">
    <script src="javascripts/scale.fix.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"></script>
    <script src="angular-slider/angular-slider.js"></script>
    <script src="javascripts/main.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">Angular-slider</h1>
        <p class="header">Slider directive implementation for AngularJS, without jQuery dependencies</p>

        <ul>
          <li class="download"><a class="buttons" href="https://github.com/prajwalkman/angular-slider/zipball/master">Download ZIP</a></li>
          <li class="download"><a class="buttons" href="https://github.com/prajwalkman/angular-slider/tarball/master">Download TAR</a></li>
          <li><a class="buttons github" href="https://github.com/prajwalkman/angular-slider">View On GitHub</a></li>
        </ul>

        <p class="header">This project is maintained by <a class="header name" href="https://github.com/prajwalkman">prajwalkman</a></p>


      </header>
      <section>
        <h1>angular-slider</h1>

<p>Slider directive implementation for AngularJS, without jQuery dependencies. Requires AngularJS v1.1.4 or higher (optional isolate scope bindings support).</p>

<h3>Example:</h3>

<pre><code>&lt;ul&gt;
    &lt;li ng-repeat="item in items"&gt;
        &lt;p&gt;Name: &#123;&#123;item.name&#125;&#125;&lt;/p&gt;
        &lt;p&gt;Cost: &#123;&#123;item.cost&#125;&#125;&lt;/p&gt; 
        &lt;slider floor="100" ceiling="1000" step="50" precision="2" ng-model="item.cost"&gt;&lt;/slider&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<div ng-controller="ItemCtrl">
  <p>Name: &#123;&#123;item.name&#125;&#125;</p>
  <p>Cost: &#123;&#123;item.cost&#125;&#125;</p>
  <slider floor="100" ceiling="1000" step="50" precision="2" ng-model="item.cost"></slider>
</div>

<h3>Range:</h3>

<pre><code>&lt;ul&gt;
    &lt;li ng-repeat="position in positions"&gt;
        &lt;p&gt;Name: &#123;&#123;position.name&#125;&#125;&lt;/p&gt;
        &lt;p&gt;Minimum Age: &#123;&#123;position.minAge&#125;&#125;&lt;/p&gt; 
        &lt;p&gt;Maximum Age: &#123;&#123;position.maxAge&#125;&#125;&lt;/p&gt; 
        &lt;slider floor="10" ceiling="60" ng-model-low="position.minAge" ng-model-high="position.maxAge"&gt;&lt;/slider&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<div ng-controller="PositionCtrl">
  <p>Position Name: &#123;&#123;position.name&#125;&#125;</p>
  <p>Minimum Age: &#123;&#123;position.minAge&#125;&#125;</p>
  <p>Maximum Age: &#123;&#123;position.maxAge&#125;&#125;</p>
  <slider floor="10" ceiling="60" ng-model-low="position.minAge" ng-model-high="position.maxAge"></slider>
</div>

<h3>Formatting:</h3>

<p>Raw data can be formatted as text using the <em>translate</em> attribute.
In your controller:</p>

<pre><code>$scope.currencyFormatting = function(value) { return value.toString() + " $" }
</code></pre>

<p>And your HTML:</p>

<pre><code>&lt;slider floor="100" ceiling="1000" precision="2" ng-model="item.cost" translate="currencyFormatting"&gt;&lt;/slider&gt;
</code></pre>

<div ng-controller="ItemCtrl">
  <p>Name: &#123;&#123;item.name&#125;&#125;</p>
  <p>Cost: &#123;&#123;item.cost&#125;&#125;</p>
  <p>Potatoes cost <slider class="sliderholder" floor="100" ceiling="1000" precision="2" ng-model="item.cost" translate="currencyFormatting"></slider>?! No damn way!</p>
  <p> Attach a class to the slider to override the slider's width to inline it amongst your text. </p>
</div>

<h3>Known issues:</h3>

<ol>
<li>When applying filters or orders within an ng-repeat directive, the element can abruptly change its position when the value attached to the slider causes a filter to activate or the order to change. 
Example: In the above snippet, it would be a very bad idea to order the list by item.cost.</li>
</ol><h3>Roadmap:</h3>

<ol>
<li>Touch events support</li>
<li>Smooth curve heterogeneity</li>
<li>Filters support</li>
</ol>
      </section>
      <footer>
        <p><small>Hosted on <a href="https://pages.github.com">GitHub Pages</a> using the Dinky theme</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
		          <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-40302554-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>

  </body>
</html>