<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Angular-slider : Slider directive implementation for AngularJS, without jQuery dependencies" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>Angular-slider</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          <a id="forkme_banner" href="https://github.com/prajwalkman/angular-slider">View on GitHub</a>

          <h1 id="project_title">Angular-slider</h1>
          <h2 id="project_tagline">Slider directive implementation for AngularJS, without jQuery dependencies</h2>

            <section id="downloads">
              <a class="zip_download_link" href="https://github.com/prajwalkman/angular-slider/zipball/master">Download this project as a .zip file</a>
              <a class="tar_download_link" href="https://github.com/prajwalkman/angular-slider/tarball/master">Download this project as a tar.gz file</a>
            </section>
        </header>
    </div>

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
        <h1>angular-slider (WIP)</h1>

<p>Slider directive implementation for AngularJS, without jQuery dependencies.</p>

<h3>Example:</h3>

<pre><code>&lt;ul&gt;
    &lt;li ng-repeat="item in items"&gt;
        &lt;p&gt;Name: {{item.name}}&lt;/p&gt;
        &lt;p&gt;Cost: {{item.cost}}&lt;/p&gt; 
        &lt;slider min="100" max="1000" step="50" ng-model="item.cost"&gt;&lt;/slider&gt;
    &lt;/li&gt;
&lt;/ul&gt;
</code></pre>

<h3>Styles:</h3>

<p>No styles are included at the moment. You must apply your own styles to <em>slider</em> and <em>slider-button</em>
Example:</p>

<pre><code>slider,
slider-button {
    position: relative;
    display: block;
}
slider {
    width: 75%;
    height: 20px;
    background-color: #fff;
    border: 1px solid;
    z-index: 0;
}
slider slider-button {
    z-index: 1;
    background-color: #00f;
    width: 6%;
    height: 100%;
}
</code></pre>

<h3>Known issues:</h3>

<ol>
<li><p>When applying filters or orders within an ng-repeat directive, the element can abruptly change its position when the value attached to the slider causes a filter to activate or the order to change. 
Example: In the above snippet, it would be a very bad idea to order the list by item.cost.</p></li>
<li><p>Sometimes an additional value is available in the slider at one end. In the above slider snipped, the lowest value could be 99 instead of 100.</p></li>
</ol><h3>Roadmap:</h3>

<ol>
<li><p>Add range slider support (2 slider-buttons).</p></li>
<li><p>Add classes to slider and slider-button on certain events (mouseover, mousedown, etc) to help styling.</p></li>
<li><p>Test suite.</p></li>
</ol>
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Angular-slider maintained by <a href="https://github.com/prajwalkman">prajwalkman</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

              <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
          </script>
          <script type="text/javascript">
            try {
              var pageTracker = _gat._getTracker("UA-40302554-1");
            pageTracker._trackPageview();
            } catch(err) {}
          </script>


  </body>
</html>
